@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  font-family: "Zilla Slab";
}


header{
  padding-bottom: 15px;
  border-bottom: 2px solid;
  background-color: white;
  height: 132px;
}

.pie{
  float:left;
  margin-right: 7%;
  margin-left: 1%;
  max-width: 20%;
  padding-top: 3px;
  height: 123px;
  display:inline-block;
}

.liquor{
  float:right;
  /*margin-left: 7%;*/
  margin-right: 2%;
  max-width: 18%;
  padding-top: 6px;
  height: 123px;
  display:inline-block;
}

.main-title-section{
  display:inline-block;
}

.main-title {
  text-align: center;
}

h1.main-title {
  margin-top: 0;
  padding-top: 5px;
}

h5.main-title {
  padding-top: 8px;
  padding-bottom: 7px;
  margin-bottom: 0;
}



.Upload{
  float: left;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 0;
  width: 20%;
  display:inline-block;
}


.Upload div{
padding: 3%;
overflow: scroll;
}


.dropzone{
  width : 100%;
  height : 20%;
  border : 1px solid black;
}



.Select-clear-zone{
  visibility: hidden;
}


.chart-type-container, .category-selector-container{
  margin-top: 2%;
  margin-right: 2%;
  width:25%;
  display:inline-block;
  vertical-align: top;
}

.chart-type-selector .heading, .category-selector .heading {
  margin-bottom: 3px;
}

.chart-type-selector, .category-selector{
  margin-left: 5px;
}

.chart-type-selector .Select{
  /*max-width: 15%;*/
}
/*.category-selector{
  max-width: 30%;
}*/



body {
  display: block;
  position: relative;
  min-height: 675px;
}

body::after {
  content: "";
  background: url("http://media.istockphoto.com/photos/blue-graph-paper-background-textured-picture-id173153967") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


/* Default styling from create-react-app

/*.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}*/
