
.chart-type-selector .heading {
  margin-bottom: 3px;
}
.chart-type-selector{
  margin-left: 5px;
}

h1.main-title {
  margin-top: 0;
  padding-top: 5px;
}

.main-title {
  text-align: center;
}

h3.main-title {
  padding-bottom: 15px;
  border-bottom: 2px solid;
}

body {
  display: block;
  position: relative;
  min-height: 675px;
}

body::after {
  content: "";
  background: url("http://media.istockphoto.com/photos/blue-graph-paper-background-textured-picture-id173153967") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.Select{
  max-width: 15%;
}


/*.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}*/
